.weatherCard {
  width: 500px;
  color: #fff;
  position: relative;
  height: 100%;
  min-height: 40em;
  &__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 40em;
    backface-visibility: hidden;
    transition: all 0.6s ease;
    box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
    &--front {
      padding: 20px;
      background-color: #fff;
      background-image: url("../../images/bg.png");
      background-size: cover;
      background-repeat: no-repeat;
    }
    &--back {
      color: #fff;
      transform: rotateY(180deg);
      opacity: 0;
      visibility: hidden;
    }
  }
  &:hover &__side--front {
    transform: rotateY(-180deg);
    opacity: 0;
    visibility: hidden;
  }

  &:hover &__side--back {
    opacity: 1;
    visibility: visible;
    transform: rotate(0);
  }
  &__description {
    h3 {
      font-weight: normal;
      font-size: 40px;
      margin-bottom: 10px;
    }
    h4 {
      font-weight: normal;
      font-size: 50px;
      margin-bottom: 5px;
    }
    p {
      font-size: 18px;
    }
  }
}
